---
import { db, Certificate } from "astro:db";
import CodeModal from "@/components/CodeModal.astro";

const certificates = await db.select().from(Certificate)
---
<div class="mx-auto max-w-screen-xl px-4 pt-[5rem] md:px-8">
    <div class="items-start justify-between md:flex">
        <div class="max-w-lg">
            <h3 class="text-xl font-bold text-gray-800 sm:text-2xl">
                Team members
            </h3>
            <p class="mt-2 text-gray-600">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
            </p>
        </div>
        <div class="mt-3 md:mt-0">
            <button
                type="button"
                data-hs-overlay="#hs-toggle-between-modals-codes-modal"
                class="inline-block rounded-lg bg-primary-600 px-4 py-2 font-medium text-white duration-150 hover:bg-primary-500 active:bg-primary-700 md:text-sm"
                >Agregar código</button>
        </div>
    </div>

    <ul class="grid gird-cols-2">
        {
            certificates.map((centrificate) => (<li>{centrificate?.id}</li>))
        }
    </ul>
    <div class="mt-12 rounded-lg border shadow-sm">
        <div class="flex flex-col">
            <div class="-m-1.5">
                <div class="inline-block min-w-full p-1.5 align-middle">
                    <div class="overflow-hidden rounded-lg shadow">
                        <table id="myTable" class="min-w-full">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody
                                class="divide-y divide-gray-200 dark:divide-neutral-700"
                            >
                                <tr>
                                    <td>John Brown</td>
                                    <td>45</td>
                                    <td>New York No. 1 Lake Park</td>
                                    <td>
                                        <button
                                            type="button"
                                            class="hover:text-blue-800 focus:text-blue-800 dark:text-blue-500 dark:hover:text-blue-400 dark:focus:text-blue-400 inline-flex items-center gap-x-2 rounded-lg border border-transparent text-sm font-semibold text-primary-600 focus:outline-none disabled:pointer-events-none disabled:opacity-50"
                                            >Delete</button
                                        >
                                    </td>
                                </tr>

                                <tr>
                                    <td>Jim Green</td>
                                    <td>27</td>
                                    <td>London No. 1 Lake Park</td>
                                    <td>
                                        <button
                                            type="button"
                                            class="hover:text-blue-800 focus:text-blue-800 dark:text-blue-500 dark:hover:text-blue-400 dark:focus:text-blue-400 inline-flex items-center gap-x-2 rounded-lg border border-transparent text-sm font-semibold text-primary-600 focus:outline-none disabled:pointer-events-none disabled:opacity-50"
                                            >Delete</button
                                        >
                                    </td>
                                </tr>

                                <tr>
                                    <td>Joe Black</td>
                                    <td>31</td>
                                    <td>Sidney No. 1 Lake Park</td>
                                    <td>
                                        <button
                                            type="button"
                                            class="hover:text-blue-800 focus:text-blue-800 dark:text-blue-500 dark:hover:text-blue-400 dark:focus:text-blue-400 inline-flex items-center gap-x-2 rounded-lg border border-transparent text-sm font-semibold text-primary-600 focus:outline-none disabled:pointer-events-none disabled:opacity-50"
                                            >Delete</button
                                        >
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<CodeModal/>
<script>
    import "@preline/collapse/index.js";
    import "@preline/overlay/index.js";
</script>
  
<script>
    import DataTable from "datatables.net-dt";
    import "@styles/datatable.css";

    let table = new DataTable("#myTable", {
        language: {
            processing: "Procesando...",
            lengthMenu: "Mostrar _MENU_ registros",
            zeroRecords: "No se encontraron resultados",
            emptyTable: "Ningún dato disponible en esta tabla",
            info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            infoEmpty:
                "Mostrando registros del 0 al 0 de un total de 0 registros",
            infoFiltered: "(filtrado de un total de _MAX_ registros)",
            infoPostFix: "",
            search: "Buscar:",
            url: "",
            thousands: ",",
            loadingRecords: "Cargando...",
            paginate: {
                first: "Primero",
                last: "Último",
                next: "Siguiente",
                previous: "Anterior",
            },
            aria: {
                sortAscending:
                    ": Activar para ordenar la columna de manera ascendente",
                sortDescending:
                    ": Activar para ordenar la columna de manera descendente",
            },
        },
    });
</script>
