<div class="mx-auto max-w-screen-xl px-4 pt-[5rem] md:px-8">
    <div class="items-start justify-between md:flex">
        <div class="max-w-lg">
            <h3 class="text-xl font-bold text-gray-800 sm:text-2xl">
                Team members
            </h3>
            <p class="mt-2 text-gray-600">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
            </p>
        </div>
        <div class="mt-3 md:mt-0">
            <a
                href="javascript:void(0)"
                class="inline-block rounded-lg bg-indigo-600 px-4 py-2 font-medium text-white duration-150 hover:bg-indigo-500 active:bg-indigo-700 md:text-sm"
                >Add member</a
            >
        </div>
    </div>
    <div class="mt-12 rounded-lg border shadow-sm">
        <div class="flex flex-col">
            <div class="-m-1.5">
                <div class="inline-block min-w-full p-1.5 align-middle">
                    <div
                        class="overflow-hidden rounded-lg border shadow dark:border-neutral-700 dark:shadow-gray-900"
                    >
                        <!-- <table id="myTable" class="display">
                            <thead>
                                <tr>
                                    <th>Column 1</th>
                                    <th>Column 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Row 1 Data 1</td>
                                    <td>Row 1 Data 2</td>
                                </tr>
                                <tr>
                                    <td>Row 2 Data 1</td>
                                    <td>Row 2 Data 2</td>
                                </tr>
                            </tbody>
                        </table> -->
                        <table
                            id="myTable"
                            class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700"
                        >
                            <thead class="bg-gray-50 dark:bg-neutral-700">
                                <tr>
                                    <th
                                        scope="col"
                                        class="px-6 py-3 text-start text-xs font-medium uppercase text-gray-500 dark:text-neutral-400"
                                        >Name</th
                                    >
                                    <th
                                        scope="col"
                                        class="px-6 py-3 text-start text-xs font-medium uppercase text-gray-500 dark:text-neutral-400"
                                        >Age</th
                                    >
                                    <th
                                        scope="col"
                                        class="px-6 py-3 text-start text-xs font-medium uppercase text-gray-500 dark:text-neutral-400"
                                        >Address</th
                                    >
                                    <th
                                        scope="col"
                                        class="px-6 py-3 text-end text-xs font-medium uppercase text-gray-500 dark:text-neutral-400"
                                        >Action</th
                                    >
                                </tr>
                            </thead>
                            <tbody
                                class="divide-y divide-gray-200 dark:divide-neutral-700"
                            >
                                <tr>
                                    <td
                                        class="whitespace-nowrap px-6 py-4 text-sm font-medium text-gray-800 dark:text-neutral-200"
                                        >John Brown</td
                                    >
                                    <td
                                        class="whitespace-nowrap px-6 py-4 text-sm text-gray-800 dark:text-neutral-200"
                                        >45</td
                                    >
                                    <td
                                        class="whitespace-nowrap px-6 py-4 text-sm text-gray-800 dark:text-neutral-200"
                                        >New York No. 1 Lake Park</td
                                    >
                                    <td
                                        class="whitespace-nowrap px-6 py-4 text-end text-sm font-medium"
                                    >
                                        <button
                                            type="button"
                                            class="text-primary-600 hover:text-blue-800 focus:text-blue-800 dark:text-blue-500 dark:hover:text-blue-400 dark:focus:text-blue-400 inline-flex items-center gap-x-2 rounded-lg border border-transparent text-sm font-semibold focus:outline-none disabled:pointer-events-none disabled:opacity-50"
                                            >Delete</button
                                        >
                                    </td>
                                </tr>

                                <tr>
                                    <td
                                        class="whitespace-nowrap px-6 py-4 text-sm font-medium text-gray-800 dark:text-neutral-200"
                                        >Jim Green</td
                                    >
                                    <td
                                        class="whitespace-nowrap px-6 py-4 text-sm text-gray-800 dark:text-neutral-200"
                                        >27</td
                                    >
                                    <td
                                        class="whitespace-nowrap px-6 py-4 text-sm text-gray-800 dark:text-neutral-200"
                                        >London No. 1 Lake Park</td
                                    >
                                    <td
                                        class="whitespace-nowrap px-6 py-4 text-end text-sm font-medium"
                                    >
                                        <button
                                            type="button"
                                            class="text-primary-600 hover:text-blue-800 focus:text-blue-800 dark:text-blue-500 dark:hover:text-blue-400 dark:focus:text-blue-400 inline-flex items-center gap-x-2 rounded-lg border border-transparent text-sm font-semibold focus:outline-none disabled:pointer-events-none disabled:opacity-50"
                                            >Delete</button
                                        >
                                    </td>
                                </tr>

                                <tr>
                                    <td
                                        class="whitespace-nowrap px-6 py-4 text-sm font-medium text-gray-800 dark:text-neutral-200"
                                        >Joe Black</td
                                    >
                                    <td
                                        class="whitespace-nowrap px-6 py-4 text-sm text-gray-800 dark:text-neutral-200"
                                        >31</td
                                    >
                                    <td
                                        class="whitespace-nowrap px-6 py-4 text-sm text-gray-800 dark:text-neutral-200"
                                        >Sidney No. 1 Lake Park</td
                                    >
                                    <td
                                        class="whitespace-nowrap px-6 py-4 text-end text-sm font-medium"
                                    >
                                        <button
                                            type="button"
                                            class="text-primary-600 hover:text-blue-800 focus:text-blue-800 dark:text-blue-500 dark:hover:text-blue-400 dark:focus:text-blue-400 inline-flex items-center gap-x-2 rounded-lg border border-transparent text-sm font-semibold focus:outline-none disabled:pointer-events-none disabled:opacity-50"
                                            >Delete</button
                                        >
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

