---
// Import section components
import MainLayout from "@/layouts/MainLayout.astro";
import { SITE } from "@data/constants";
import MainSection from "@/components/ui/blocks/MainSection.astro";
import { getSession } from "auth-astro/server";
import { SignIn, SignOut } from "auth-astro/components";
import SignInForm from "@/components/SignInForm.astro";
import CodesTable from "./CodesTable.astro";
import { db, Users } from "astro:db";

const usersAllow = await db.select().from(Users);

const session = await getSession(Astro.request);

const pageTitle: string = `Códigos certificados | ${SITE.title}`;
const title: string = `Códigos certificados`;
---

<MainLayout title={pageTitle}>
    <div>
        {
            session ? (
                <CodesTable />
            ) : (
                <SignInForm />
            )
        }
    </div>
</MainLayout>